In [1]:
import pandas as pd
import numpy as np

from glob import glob
from tqdm.notebook import tqdm

import matplotlib.pyplot as plt
from PIL import Image

In [2]:
annot = pd.read_parquet('annot.parquet')

In [5]:
img = pd.read_parquet('img.parquet')
imgs = glob('images/*')

In [6]:
img.head()

                 id  width  height    set                   file_name
0  a4ea732cd3d5948a    840    1024  train  train/a4ea732cd3d5948a.jpg
1  4bf43a7b2a898044   1024     683  train  train/4bf43a7b2a898044.jpg
2  1b55b309b0f50d02   1024     683  train  train/1b55b309b0f50d02.jpg
3  00c359f294f7dcd9   1024     680  train  train/00c359f294f7dcd9.jpg
4  04b5a37f762b0f51    768    1024  train  train/04b5a37f762b0f51.jpg

In [ ]:
fig, ax = plt.subplots(figsize=(5, 5))
ax.imshow(plt.imread(imgs[0]))
ax.axis('off')
plt.show()

In [ ]:
image_id = imgs[0].split('/')[-1].split('.')[0]
annot.query('image_id == @image_id')

In [ ]:
fig, axs = plt.subplots(5, 5, figsize=(20, 20))
axs = axs.flatten()
for i in range(25):
    axs[i].imshow(plt.imread(img_fns[i]))
    axs[i].axis('off')
    image_id = img_fns[i].split('/')[-1].rstrip('.jpg')
    n_annot = len(annot.query('image_id == @image_id'))
    axs[i].set_title(f'{image_id} - {n_annot}')
plt.show()

In [ ]:
import pytesseract

print(pytesseract.image_to_string(img_fns[11], lang='eng'))